.container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 12px;
  width: 65%;
  height: 100%;
  z-index: 1;
}

.wrapper {
  background-color: #9ead86;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.leaderboardTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  td {
    padding: 4px 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 16px;
  }
  th {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 700;
  }
  th:first-child,
  td:first-child {
    text-align: left;
    max-width: 140px;

    p {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  th:last-child,
  td:last-child {
    text-align: right;
    max-width: 60px;

    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.leaderboardHeading {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 6px;
}

.pointsText {
  background-color: transparent;
}

.buttonContainer {
  margin-top: 6px;
}

.pagination {
  margin-top: 8px;
}

input{
  -webkit-user-select: text;
  user-select: text;
}